<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col xxl-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card mt-5 " routerLink="/addFriend" style="width: 30rem;">
                        <img src="https://www.pngitem.com/pimgs/m/25-253788_invite-friends-svg-png-icon-free-download-invite.png"   class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Add Friend</h5>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card  mt-5  " routerLink="/addCourse"  style="width: 30rem;">
                            <img src="http://cdn.onlinewebfonts.com/svg/img_132250.png" width="100%" class="card-img-top" alt="...">
                            <div class="card-body ">
                              <h5 class="card-title">Add Course</h5>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>