<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-x">
            <div class="row g-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Employee Name</div>
                    <div><input name="empname" [(ngModel)]="empname" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Employee Id</div>
                    <div><input name="empId" [(ngModel)]="empId" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">First Name</div>
                    <div><input name="firstName" [(ngModel)]="firstName" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Last Name</div>
                    <div><input name="lastName" [(ngModel)]="lastName" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">House No</div>
                    <div><input name="houseNo" [(ngModel)]="houseNo" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">House Name</div>
                    <div><input name="houseName" [(ngModel)]="houseName" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Street Name</div>
                    <div><input name="streetName" [(ngModel)]="streetName" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Pincode</div>
                    <div><input  name="pincode" [(ngModel)]="pincode" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">District</div>
                    <div><input name="district" [(ngModel)]="district" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">State</div>
                    <div><input name="state" [(ngModel)]="state" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Country</div>
                    <div><input name="country" [(ngModel)]="country" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Mobile No</div>
                    <div><input name="mobile" [(ngModel)]="mobile" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Email Id</div>
                    <div><input name="email" [(ngModel)]="email" type="email" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Parrent Name</div>
                    <div><input name="parrentName" [(ngModel)]="parrentName" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Gender</div>
                    <div><input name="gender" [(ngModel)]="gender" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">High Degree</div>
                    <div><input name="degree" [(ngModel)]="degree" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Year of Experience</div>
                    <div><input name="exp" [(ngModel)]="exp" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label"> Date of Joining</div>
                    <div><input name="joining" [(ngModel)]="joining" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Username</div>
                    <div><input name="username" [(ngModel)]="username" type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Password</div>
                    <div><input name="password" [(ngModel)]="password" type="password" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Confrim Password</div>
                    <div><input name="confrimPassword" [(ngModel)]="confrimPassword" type="password" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary" (click)="readValue()">Register</button>
                    <a class="nav-link" routerLink="/userLogin"> Back Employee Login</a>

                </div>
            </div>
        </div>
    </div>
</div>