<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-x">
            <div class="row g-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Employee Name</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Employee Id</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">First Name</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Last Name</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">House No</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">House Name</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Street Name</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Pincode</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">District</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">State</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Country</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Mobile No</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Email Id</div>
                    <div><input type="email" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Parrent Name</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Gender</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">High Degree</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Year of Experience</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label"> Date of Joining</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Username</div>
                    <div><input type="text" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Password</div>
                    <div><input type="password" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="label form-label">Confrim Password</div>
                    <div><input type="password" name="" id="" class="form-control"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>