<app-view-navbar></app-view-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col xxl-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card mt-5 " routerLink="/viewFriend" style="width: 30rem;">
                        <img src="https://pic.onlinewebfonts.com/svg/img_458713.png"   class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">View Friend</h5>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card  mt-5  " routerLink="/viewCourse"  style="width: 30rem;">
                            <img src="https://cdn-icons-png.flaticon.com/512/90/90477.png" width="100%" class="card-img-top" alt="...">
                            <div class="card-body ">
                              <h5 class="card-title">View Course</h5>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>