<app-view-navbar></app-view-navbar>
<div class="container">
    <div class="row">
        <h3>View Friends</h3>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12- col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Friend Name</th>
                    <th scope="col">Friend Nickname</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data" >
                    <th scope="row">{{i.name}}</th>
                    <td>{{i.friendNickName}}</td>
                    <td>{{i.DescribeYourFriend}}</td>
                  </tr>
               </tbody>
              </table>  
        </div>
    </div>
</div>