<app-navbar></app-navbar>    
<div class="container  mt-5">
        <div class="row  text-center align-items-center">
            <div class="col-lg-6 borderRight">
                <div class="item">
                    <div class="iconTop">
                        <img src="https://www.nestdigital.com/images/inspiration.png"  alt="">
                    </div>
                    <h3>WHO WE ARE  WHAT WE DO</h3>
                    <h4>Engineering Transformation</h4>
                    <p class="text-center">
                        NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.
                    </p>			
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item text-center">
                    <div class="iconTop text-center">
                        <img src="https://www.nestdigital.com/images/value.png" alt="">
                    </div>
                    <h3>WHAT WE BELIEVE</h3>
                    <h4>Our core values make us who we are today</h4>
                    <p class="text-center">
                        Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. 
                    </p>			
                </div>
            </div>
        </div>
    </div>

    <section class="innerBanner d-flex align-items-center text-center custom-mt" >
        <div class="container mt-5">
            <h1 class="heading mb-0">HARNESSING WORLD-CLASS TECHNOLOGY</h1>
            <h2 class="heading mb-0 pt-10 ">CREATING BOUNDLESS IMPACT</h2>
        </div>
    </section>
